:root {
	--yellow: #feb60a;
	--red: #ff0062;
	--blue: #00dbf9;
	--violet: #da00f7;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
@font-face {
	font-family: "MyWebFont";
	src: url("./fonts/Barlow_Condensed/BarlowCondensed-Medium.ttf")
		format("truetype");
}
body {
	font-family: MyWebFont;
	color: #3d3d3d;
	background: url("./5097411.png") center/cover;
}

.toll-bar {
	display: flex;
	justify-content: center;
	margin-bottom: 1.2rem;

	width: 100%;
}
.table-container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
}
.joke-container {
	width: 40rem;
	height: auto;
	background: #43cfda;
	border: 2px black solid;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 3px 3px black;
	top: 25%;
	left: 25%;
	visibility: hidden;
}
.joke-container h1 {
	font-size: 1.4rem;
	color: black;
}
.name-s:hover {
	border: #00dbf9 2px solid;
}
.close-joke {
	display: flex;
	justify-content: center;
	text-align: center;
	width: 30%;
}
.joke {
	/* ToDO */
}
.edit-pop-container {
	width: 30rem;
	height: 12rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border: 1px solid black;
	position: absolute;
	top: 30vh;
	left: 30%;
	background: #43cfda;
	box-shadow: 1rem 1rem black;
	visibility: hidden;
}
.edit-pop-container > input {
	width: 80%;
}
input {
	text-align: center;
}
.cancel-btn,
.save-btn {
	background: #a5e4ec;
}
.box {
	height: 1.8rem;
	width: 100%;
	white-space: nowrap;
	display: flex;
	border-bottom: 1px solid black;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.651);
}
.name-s {
	font-weight: bold;
}
.boxHide {
	border: 0px black solid;
	background: none;
}
.search-input {
	text-align: center;
	font-family: "MyWebFont";
	width: 300px;
	font-size: 1.2rem;
	font-weight: bold;
	background-color: #028c9e;
	color: white;
}
.box:hover {
	cursor: pointer;
}
select {
	font-family: "MyWebFont";
	font-size: 1.2rem;
	background: #4cb6c4;
	font-weight: bold;
}
.reset {
	background: #95e4ee;
	border: none;
	margin: 0;
}
button {
	margin: 2px;
	padding: 3px 5px;
	background: #028c9e;
	border: #028c9e solid 1px;
	display: flex;
	color: #080808;
	font-weight: bold;

	transition: all ease-in-out 0.2s;
	font-family: "MyWebFont";
}
button:hover {
	background: #028c9e;
	color: #d6d3d3;
	cursor: pointer;
}
.title {
	background: #028c9e;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	font-weight: bold;
	border: 0;
	padding: 2px 10px;
	color: black;
}
::placeholder {
	color: black;
}
.overlay {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.733);
	position: absolute;
	visibility: hidden;
}
.fade {
	background: rgba(150, 12, 12, 0.829);
}
/* ---imported--- */
/* ?scroll-bar */
/* width */
::-webkit-scrollbar {
	width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #028c9e;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #028c9e;
}
/* ? loader */
.container {
	position: absolute;
	top: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	/* background-color: #1a1940; */
	background-image: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.15) 0%,
		rgba(0, 153, 212, 0) calc(15% + 100px),
		rgba(0, 99, 138, 0) calc(85% + 100px),
		rgba(0, 0, 0, 0.15) 100%
	);
}
div.container {
	display: flex;
	justify-content: center;
	align-items: center;
}
div.container > div {
	width: 3vw;
	height: 3vw;
	border-radius: 100%;
	margin: 2vw;
	background-image: linear-gradient(
		145deg,
		rgba(255, 255, 255, 0.5) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	animation: bounce 1.5s 0.5s linear infinite;
}
.yellow {
	background-color: var(--yellow);
}

.red {
	background-color: var(--red);
	animation-delay: 0.1s;
}

.blue {
	background-color: var(--blue);
	animation-delay: 0.2s;
}

.violet {
	background-color: var(--violet);
	animation-delay: 0.3s;
}

@keyframes bounce {
	0%,
	50%,
	100% {
		transform: scale(1);
		filter: blur(0px);
	}
	25% {
		transform: scale(0.6);
		filter: blur(3px);
	}
	75% {
		filter: blur(3px);
		transform: scale(1.4);
	}
}

@media only screen and (max-width: 830px) {
	/* For mobile phones: */
	html,
	body {
		overflow-x: hidden;
	}
	body {
		position: relative;
	}
	.box {
		height: 1.2rem;
		font-size: 0.8rem;
		width: 100%;
		/* white-space: nowrap; */
	}
	.edit-pop-container {
		width: 17rem;
		height: 10rem;
		top: 25%;
		left: 29%;
		box-shadow: 0.5rem 0.5rem black;
	}
}
@media only screen and (max-width: 393px) {
	/* For mobile phones: */
	html,
	body {
		overflow-x: hidden;
	}
	body {
		position: relative;
	}
	.table-container {
		width: 100%;
		/* height: auto; */
	}
	.box {
		height: 1.2rem;
		font-size: 0.4rem;
		width: auto;
		/* white-space: nowrap; */
	}
	.edit-pop-container {
		width: 17rem;
		height: 10rem;
		top: 15%;
		left: 15%;
		box-shadow: 0.5rem 0.5rem black;
	}
	.joke-container {
		width: 16rem;
		top: 15%;
		left: 15%;
	}
}
